body{
    --main-color: #cc3333;
    height: 100vh;
    overflow: hidden;
}

.scrim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header{
    height: 5vw;
    height: calc(4vw + 2.5em);
    padding: 0 1.25em;
}

header #logo{
    z-index: 1;
    padding: 1em 0;
    font-size: 1.9vw;
    font-family: Goose, sans-serif;
}

header #logo img{
    height: 3.5vw;
    margin-right: 0.5em;
}

header button {
    font-family: "Goose SemiLight", sans-serif;
    background: transparent;
    border: 2px solid #777;
    border-radius: 3px;
    padding: 0.4em 1em;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
}

main{
    height: 100vh;
}

.segment{
    width: 50%;
    height: 50%;
    background: #f0f0f0;
    font-size: 2.8vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.segment:nth-child(2){
    width: 100%;
    height: 50%;
    background: transparent;
}

.segment:nth-child(3) {
    background-image: url(../images/work/fcc_gardens.jpg);
    color: #ffa637;
}

.segment:nth-child(3) .scrim {
    /* background: rgba(78, 228, 207, 0.85); */
    background: rgba(76, 136, 51, 0.74);
}

.segment:nth-child(4){
    background-image: url(../images/work/kakala.jpg);
    color: #225047;
}

.segment:nth-child(4) .scrim{
    background: rgba(211, 228, 224, 0.81);
}

#aboutText{
    padding-bottom: 1.5em;
    position: absolute;
    top: 0;
    min-height: 45vh;
    min-height: calc(46vh - 2.5em);
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    max-width: 50vw;
    /* text-align: center; */
}

#aboutText h1{
    font-family: 'Regular', sans-serif;
    font-size: 13vw;
    font-size: 4.5vw;
}

#aboutText h1 span{
    display: block;
    font-size: 2.5vw;
    text-align: right;
}

#aboutText h1 sup {
    margin: 0.1em 0.2em;
    display: block;
    font-size: 1.2rem;
    opacity: 0.8;
    color: var(--main-color)
}

#aboutText p{
    display: none;
    font-size: 1.8vw;
    line-height: 1.35;
    margin-bottom: 1.1em;
}

#aboutText button{
    display: none;
    background: transparent;
    border: 2px solid #333;
    padding: 1em 4em;
    min-width: 20vw;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
}

#workSection{
    width: 30vw;
    padding: 3em 3em;
    background: #f76060;
    color: #ffdadb;
    overflow: auto;
}

#workSection h2{
    font-family: 'Regular', sans-serif;
    text-transform: lowercase;
    text-align: left;
    font-size: 2vw;
    margin-bottom: 1.5em;
}

#workSection .work-item{
    margin-bottom: 3em;
}

#workSection .work-item h3{
    font-family: Regular, sans-serif;
    font-size: 2em;
    display: none;
}

#workSection .work-item .image{
    border-radius: 3px;
    /* height: 20vw; */
    margin-bottom: 1.1em;
    overflow: hidden;
}

#workSection .work-item .image img{
    display: block;
    max-width: 100%;
    transition: transform 0.25s ease-out, all 0.35s ease-out;
}

#workSection .work-item:hover img{
    transform: translateY(-1%);
    box-shadow: 4px 8px 22px rgba(0, 0, 0, 0.3);
}

#workSection .work-item img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    transition: all 0.35s ease-out;
    box-shadow: 4px 8px 22px rgba(0, 0, 0, 0.8);
}

#workSection .work-item:hover img:after{
    opacity: 1;
}